.logo-img {
  /* max-height: 5rem;
  height: 100px;
  width: 50px; */
  /* background-size: contain;
  display: inline-block;
  text-align: center; */
  /* padding-left: 50px; */
  /* padding-right: 15px; */
}
